<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="col-12 col-sm-12 col-xs-12 col-md-12 col-lg-12 d-flex align-items-center justify-content-center welcome-div">
            <p>Our Services</p>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="intro col-lg-8">
            <h1>GardenGo has served the Haryana residential and commercial landscapers since 2008.</h1>
            <p>Our services are diverse, but the care and passion we deliver are second to none. If you’re in need of a landscaping company, please consider our services below.</p>
        </div>
    </div>
    <div class="services-div">
        <div class="row d-flex justify-content-center service-div">
            <div class="col-12 col-xs-12 col-sm-12 col-md-5 col-lg-4 heading">
                <h2>
                    Specialized Landscaping Services
                </h2>
            </div>
            <div class="col-12 col-xs-12 col-sm-12 col-md-5 col-lg-4 ">
                <p>In addition to our generalized landscaping services, we also provide the following additional services: find out more here...</p>
                <a href="">More Information...</a>
            </div>
        </div>
        <div class="row d-flex justify-content-center service-div">
            <div class="col-12 col-xs-12 col-sm-12 col-md-5 col-lg-4 heading">
                <h2>Generalized Services</h2>
            </div>
            <div class="col-12 col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <p>As a team of experienced Florida landscapers, we offer premium landscaping services for both commercial and residential clients.</p>
                <a href="">More Information...</a>
            </div>
        </div>
        <div class="row d-flex justify-content-center service-div">
            <div class="col-12 col-xs-12 col-sm-12 col-md-5 col-lg-4 heading">
                <h2>Residential Lawn Maintenance</h2>
            </div>
            <div class="col-12 col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <p>Your landscape is not only a source of pride and joy, it’s also an investment.</p>
                <a href="">More Information...</a>
            </div>
        </div>
        <div class="row d-flex justify-content-center service-div">
            <div class="col-12 col-xs-12 col-sm-12 col-md-5 col-lg-4 heading">
                <h2>Commercial Lawn Maintenance</h2>
            </div>
            <div class="col-12 col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <p>We take pride in delivering premium grade commercial lawn maintenance services.</p>
                <a href="">More Information...</a>
            </div>
        </div>
        <div class="row d-flex justify-content-center service-div">
            <div class="col-12 col-xs-12 col-sm-12 col-md-5 col-lg-4 heading">
                <h2>Vinyl Fence Installation</h2>
            </div>
            <div class="col-12 col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <p>We’ll aid you every step of the way as you strive to choose the right vinyl fencing.</p>
                <a href="">More Information...</a>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-xs-12 col-sm-12 col-md-5 col-lg-4 heading">
                <h2>Professional Pavers Installation</h2>
            </div>
            <div class="col-12 col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <p>A professionally paved driveway or outdoor kitchen clearly shows that you care about your property and are willing to invest in what you own.</p>
                <a href="">More Information...</a>
            </div>
        </div>
    </div>
</div>
