.welcome-div{
    height: 500px;
    margin-top: 5px;
    color: white;
    font-size: 3rem;
    background-color: #4f612f;
    width: 100%;
}

.intro{
    margin-top: -80px;
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.719);
    padding: 50px;
    text-align: center;
}

.services-div{
    margin-top: 80px;
}

h2{
    color: #4f612f;
}

.heading{
    text-align: center;
    padding: 10px;
}

.service-div{
    margin-top: 15px;
    border-bottom: 1px solid #4f612f15;
}

a{
    text-decoration: none;
}