<div class="main-face">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 main-face-text" >
            <div class="main-text-div">
                <h1 class="main-text">
                    Whether you own a large office building or if you simply have a residential landscape you can’t keep up...
                </h1>
                <p class="secondary-text">
                    with, our team of Haryana landscapers can help. We have spent the better part of a decade developing our services for both commercial and
                    residential services and have served hundreds of clients throughout the Haryana, India.
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 image-div">
        <img 
            [src]="imagePath" 
            alt="This is an Image" 
            class="main-div-image">
        </div>
    </div>
    <div class="row row-tabs d-flex justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 tab first-card" >
            <div class="card text-center">
                <h2 class="card-title">
                    Contact Us
                </h2>
                <p>Yamunangar, Haryana, India.</p>
                <button class="btn appointment-button"> Book an Appointment </button>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 tab">
            <div class="card text-center">
                <h2 class="card-title">Our Services</h2>
                <p class="card-text">Commercial Lawn Maintenance <br>
                    Residential Lawn Maintenance <br>
                    Landscaping
                    Irrigation, and more.</p>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 tab " >
            <div class="card text-center">
                <h2 class="card-title">Opening Hours</h2>
                <div class="card-text">
                    <table style="margin-left: auto; margin-right:auto">
                        <tr class="border_bottom">
                            <td style="width : 50%">Monday-Friday</td>
                            <td>8:00 AM - 5:00 PM</td>
                        </tr>
                        <tr class="border_bottom">
                            <td style="height: 20px;">Saturday</td>
                            <td>By Appointment only</td>
                        </tr>

                        <tr class="border_bottom">
                            <td style="height: 20px;">Sunday</td>
                            <td style="font-weight: bold;">CLOSED</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<!-- <app-carousel></app-carousel> -->
<app-our-works></app-our-works>

<app-contact-us></app-contact-us>

<app-carousel></app-carousel>