<div class="row d-flex justify-content-center" [ngStyle]="{ 'margin-top': '20px'}">
    <div class="col-10 col-sm-10 col-md-4 col-lg-4 d-flex justify-content-center happy-customer" >
            <h2 style="font-size: 30px;">Our Happy Customers</h2>
    </div> 
</div>
<app-loading-spinner 
    class="spinner"
    *ngIf="loadingData">
</app-loading-spinner>
<div class="row">
    <div class="d-flex justify-content-center">
        <div class="col-lg-9">
            <ul class="list-group">
                <li 
                class="list-group-item border-0 revCard"
                *ngFor="let rev of reviews">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                            <div class="d-flex justify-content-center">
                                <img [src]="rev.image" alt="No Image provided">
                            </div>
                        </div>
                        <div class="col-xs-8 col-sm-5 col-md-6 col-lg-7">
                            <h3>{{ rev.name }}</h3>
                            <p>{{ rev.review }}</p>
                        </div>
                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 revState"  >
                            <p> {{ rev.address }} </p>
                            <p> {{ rev.state }} </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr [ngStyle]="{'color': 'white'}">
<div class="row" *ngIf="canSubmitReview">
    <div class="d-flex justify-content-center">
        <button 
        class="btn customer-review-button"
        routerLink="/submit-review">Submit a review</button>
    </div>
</div>
<div class="row d-flex justify-content-center">
    <p *ngIf="!canSubmitReview">Please login or signup for submitting a review.</p>
</div>
