<div class="container-fluid">
    <div class="row container-div">
        <div class="col-12 col-xs-12 col-md-12 col-sm-12 col-lg-6 image-div">
            <img [src]="image1" alt="">
        </div>
        <div class="col-12 col-xs-12 col-md-12 col-sm-12 col-lg-6 text-div">
            <h1>The smart way to great lawncare is a company that cares about your maintenance.</h1>
            <p>Our team takes pride in providing consistently superior results for our commercial and residential clients. From planting young flowers to nourishing mature trees, we have the skills and tools to keep your landscape looking great.</p><br>
            <p>We want to be your full-service landscape company. Property managers and residential homeowners can count on us to be the best at what we do. For maintenance services or full-scale installation and design, you can turn to our team for the best landscaping services.</p>
        </div>
    </div>
    <div class="row container-div">
        <div class="col-12 col-xs-12 col-md-12 col-sm-12 col-lg-6 text-div show-md">
            <h1>What to Expect From GardenGO</h1>
            <p>When you’re ready to hire a landscape company, it’s time to give us a call. We offer:</p>
            <ul style="list-style: none;">
                <li>Personalized Landscaping Services</li>
                <li>Eco-Friendly Approach</li>
                <li>Mulching</li>
                <li>Re-Planting</li>
                <li>3D Landscape Design</li>
                <li>Fast and Friendly Service</li>
            </ul>
        </div>
        <div class="col-12 col-xs-12 col-md-12 col-sm-12 col-lg-6 image-div">
            <img [src]="image2" alt="">
        </div>
        <div class="col-12 col-xs-12 col-md-12 col-sm-12 col-lg-6 hide-md text-div">
            <h1>What to Expect From GardenGo</h1>
            <p>When you’re ready to hire a landscape company, it’s time to give us a call. We offer:</p>
            <ul style="list-style: none;">
                <li>Personalized Landscaping Services</li>
                <li>Eco-Friendly Approach</li>
                <li>Mulching</li>
                <li>Re-Planting</li>
                <li>3D Landscape Design</li>
                <li>Fast and Friendly Service</li>
            </ul>
        </div>
    </div>
    <div class="row container-div">
        <div class="col-12 col-xs-12 col-md-12 col-sm-12 col-lg-6 image-div">
            <img [src]="image3" alt="">
        </div>
        <div class="col-12 col-xs-12 col-md-12 col-sm-12 col-lg-6 text-div">
            <h1>Whether you need  a full-time landscaping service...</h1>
            <p>to maintain your commercial property, our crew is licensed, insured, and bonded and ready to help. Our highly trained staff delivers exceptional service each and every time we visit your property. Family owned and operated, LawnMakers has the skills you need to enjoy your property to its fullest.</p>
        </div>
    </div>
</div>